.c-align {
    text-align: center;
}

.r-align {
    text-align: right;
}

.l-align {
    text-align: left;
}

.pl-1 {
    padding-left: $base;
}

.barcode {
    font-family: 'Code-39';

    &.unreadable {
        font-size: 5px;
        font-weight: 800;
    }
}

.txt-blue-m {
    color: $blue-m;
}

.flex {
    &__column,
    &__row {
        display: flex;
        flex-wrap: nowrap;
    }

    &__column {
        flex-direction: column;
        align-content: center;
    }
    &__row {
        flex-direction: row;
    }
}
