$black: #110c12;

$gray-d: #1c1f30;
$gray-m2: #2c314c;
$gray-m: #2b304b;
$gray-l2: #5b607a;
$gray-l: #ac84a8;
$blue-d: #485172;
$blue-l: #547fbc;
$orange: #f5676d;
$peach: #e86b7f;

$lavender-1: #e3afcd;
$lavender-2: #d5b8da;

$yellow: #dfff9c;

$base: 8px;